* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: auto;
}

.logo {
    width: 20%;
}

.main-nav {
    background-color: rgba(199, 187, 118, 0.637);
}

.search {
    margin-left: -10px;
    padding: 5px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#main-news {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin-top: 50px;

}

.news-img {
    height: 200px;
    width: 315px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.news {
    background-color: rgb(226, 191, 177);
    padding: 20px;
    width: 28%;
    border-radius: 30px;
    box-shadow: rgba(238, 238, 238, 0.993) 0px 2px 4px 0px, rgba(233, 248, 255, 0.753) 0px 2px 16px 0px;
}

.dis {
    font-size: larger;
}

.card-btn {
    padding: 10px 20px 10px 20px;
    border: 1px solid cadetblue;
    background: transparent;
    border-radius: 30px;
    color: rgb(19, 0, 0);
    font-size: 17px;
    font-weight: bolder;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}

.card-btn:hover {
    position: relative;
    top: -3px;
    box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, .12);
}

.btn {
    color: white;
    border: 1px solid black;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

.load {
    color: white;
    text-align: center;
    display: none;
    font-size: xx-large;
    margin-top: 370px;
    font-weight: bolder;
}
.found{
    color: white;
    text-align: center;
    display: none;
    font-size: xx-large;
    margin-top: 370px;
    font-weight: bolder;
}
.home{
   color: white;
   text-decoration: none;
   border: 1px solid black;
   background-color: aliceblue;
   color: black;
   padding: 5px;
   font-size: large;
   font-weight: bold;
   border-radius: 20px;
}

#new-news{
display: flex;
align-items: center;
justify-content: center;
margin-top: 30px;
;
}

.new-newss{
    background-color: white;
    color: black;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.img{
    height: 10%;
    width: 100%;
    border-radius: 5px;
}
.disc{
    list-style-type: none;
    font-size: larger;
    font-weight: bolder;
}
.under{
    text-decoration: underline;
    font-size: larger;
    font-weight: bolder;
}
.time{
    text-align: end;
}

.head{
    color: aliceblue;
    text-align: center;
    margin: 10px;
}